# Virtual Environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Static collected files
staticfiles/

# Python cache
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

_reference_frontend/