absl-py==2.3.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.6
aiosignal==1.3.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.13.5
blinker==1.9.0
boto3==1.40.29
botocore==1.40.29
cachetools==6.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.12
contourpy==1.3.3
cryptography==44.0.0
cycler==0.12.1
defusedxml==0.8.0rc2
distlib==0.3.8
distro==1.9.0
dj-database-url==3.1.2
Django==5.1.5
django-cors-headers==4.7.0
django-g==0.0.2
django-js-asset==3.0.1
django-mptt==0.16.0
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.2.0
django-storages==1.14.6
djangorestframework==3.15.2
filelock==3.14.0
flatbuffers==25.2.10
fonttools==4.59.2
frozenlist==1.5.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
grpcio==1.74.0
gunicorn==26.0.0
h11==0.14.0
h5py==3.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jwcrypto==1.5.6
keras==3.11.3
kiwisolver==1.4.9
libclang==18.1.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.3
multidict==6.1.0
mysqlclient==2.2.8
namex==0.1.0
narwhals==2.3.0
numpy==2.0.2
oauthlib==3.2.2
opencv-python-headless==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.2
pillow==11.3.0
platformdirs==4.2.2
plotly==6.3.0
propcache==0.2.0
protobuf==5.29.5
psycopg2-binary==2.9.12
pyarrow==21.0.0
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.10.1
PyMySQL==1.1.2
pyparsing==3.2.3
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python3-openid==3.2.0
pyttsx3==2.99
pytz==2025.2
pywin32==311
referencing==0.36.2
reportlab==4.4.3
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.1.0
rpds-py==0.27.1
s3transfer==0.14.0
scikit-learn==1.8.0
scipy==1.16.1
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.8
sqlparse==0.5.0
streamlit==1.56.0
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.1
termcolor==3.1.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.2
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.2
virtualenvwrapper-win==1.2.7
watchdog==6.0.0
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.12.0
wrapt==1.17.3
yarl==1.17.2
